:root {
    --primary: #0f1a20;
    --secondary: #ffffff;
    --bg-light: #e4e4e4;

    /* Base Accents */
    --accent-p: #ff6b9d;
    --accent-p-dark: #d7467b;
    --accent-s: #f18f01;
    --accent-s-dark: #d07d01;
}

[data-mantine-color-scheme="light"] {
    --dynamic-main: var(--primary);
    --dynamic-alt: var(--secondary);
    --dynamic-bg: var(--bg-light);

    --dynamic-accent-p: var(--accent-p);
    --dynamic-accent-s: var(--accent-s);
}

[data-mantine-color-scheme="dark"] {
    --dynamic-main: var(--secondary);
    --dynamic-alt: var(--primary);
    --dynamic-bg: #11191e;

    --dynamic-accent-p: var(--accent-p-dark);
    --dynamic-accent-s: var(--accent-s-dark);
}
